$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;



* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgb(43, 50, 178) 0%, rgb(20, 136, 204) 100%);
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    margin: 20px auto;
    color: #fff;
    padding: 20px;

    @media (min-width: $breakpoint-tablet) {
        max-width: 768px;
    }

    @media (min-width: $breakpoint-desktop) {
        max-width: 800px;
    }

    @media (min-width: $breakpoint-large) {
        max-width: 920px;
    }


    .weather-title {
        .city {
            font-size: 36px;
        }

        .date {
            font-size: 20px;
        }
    }

    .current-weather {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
        }

        .current-weather-data {
            width: 100%;
            display: flex;

            
            @media (min-width: $breakpoint-tablet) {
                justify-content: space-between;
            }

            @media (min-width: $breakpoint-desktop) {
                justify-content: space-around;
                width: 50%;
            }


            img {
                width: 246px;

                @media (min-width: $breakpoint-tablet) {
                    width: 140px;
                }
            }

            .temperature {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .temperature-value {
                    font-size: 60px;
                }

                .temperature-summary {
                    font-size: 24px;
                }


            }
        }

        .current-weather-stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 20px 0;

            @media (min-width: $breakpoint-desktop) {
                border-top: none;
                border-bottom: none;
                border-left: 1px solid #fff;
                padding: 0 20px;
                width: 50%;
            }

            .stats-up {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .stats-value {
                    font-size: 26px;

                }

                .stats-label {
                    font-size: 20px;
                    margin-top: 10px;

                }
            }

            .stats-down {
                width: 100%;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;

                .stats-value {
                    font-size: 26px;

                }

                .stats-label {
                    font-size: 20px;
                    margin-top: 10px;

                }
            }
        }
    }

    .weater-content {
        margin-top: 30px;

        h2 {
            margin-bottom: 10px;
        }

        .next-6-days {
            .item {
                margin: 15px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #0003;
                padding: 10px 30px;
                border-radius: 10px;
                font-size: 18px;
                gap: 20px;

                svg {
                    width: 90px;
                }

                .item-wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 20px;

                    @media (min-width: $breakpoint-tablet) {
                        flex-direction: row;
                        gap: 50px;
                        width: 100%;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                }
            }
        }
    }
}